.entry_password{
  position: absolute;
  bottom: 52.5%;
  left: 40%;
  border: 1;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid #8284A4 ;
  background-color: #E3E3EE;
  color: #444556;
  width: 10%;
  height: 3%;
  font-size: medium;
}
.text_password{
  position: absolute;
  color: #8685A8;
  top: 42.9%;
  font-family:'MuseoModerno', cursive;
  right: 57.15%;
}